*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.spacer{
    width: 100%;
    height: 80vh;
}
a{
    text-decoration: none;
}
body{
    background-color: #fff;
}
/*===ここまでは見た目を整える記述===*/
.cta{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.cta__inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover .cta__button{
        color: #111;
        background-color: #fff;
    }
    &:hover .cta__img-wrap{
        transform: scale(1.05);
    }
}

.cta__content{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.cta__heading{
    font-size: 32px;
    color: white;
}

.cta__sub{
    font-size: 18px;
    color: white;
}

.cta__img{
    width: 100%;
    height: 150%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
}

.cta__img-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform .8s ease-out;
}

.cta__button{
    width: fit-content;
    padding: 16px 32px;
    line-height: 1;
    font-size: 16px;
    background-color: #111;
    color: white;
    margin-top: 40px;
    transition: color .2s,background-color .2s;
    border-radius: 5%;
}