*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
li{
    list-style: none;
}
.spacer{
    width: 100%;
    height: 100vh;
}
.text{
    width: fit-content;
    font-size: 40px;
    font-weight: bold;
    color: white;
    white-space: nowrap;//改行を阻止
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.text span{
    transition: color .5s;
}
.text span.is-active{
    color: #55A417;
}
.container{
    width: 100%;
    overflow: hidden;//必須
}

/* ここまでは見た目を整える記述 */
.js-move-text{ 
    transform: translateX(50%);
}